<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>添加一项任务 <small>添加一个任务</small>
        <div class="pull-right">
          <a href="<%= user_tasks_path %>" class="btn btn-primary">
            <span class="glyphicon glyphicon-tasks"></span>
            返回任务列表  
          </a>
        </div>  
      </h1>  
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <%= render 'form'%>
  </div>
  <div class="col md-5">
    <p class="text-muted">在这里可以创建一个任务</p>
    <p class="text-primary">填写任务名称和内容</p>
    <p class="text-success">点击保存即可创建</p>
    <p class="text-info">创建成功就可以跟踪您的任务了</p>
    <p class="text-warning">也可以与同事分享任务</p>
    <p class="text-danger">更多内容等待挖掘</p>
  </div>  
</div>