
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        用户注册 
        <small>注册独一无二的账号</small>   
      </h1>
    </div>   
  </div>    

  <div class="col-md-6"><%= render 'users/form' %></div>
  <div class="col-md-6">已有账号？<%= link_to '直接登陆吧！', signin_path %>`(*∩_∩*)′</div>
</div>