<div class="row">
	<div class="col-md-12">
		<div class="jumbotron text-center">
		  <h1>Hello,Rails Tasks!</h1>
		  <p>build by ruby on rails</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="page-header">
		  <h1>Example page header <small>Subtext for header</small></h1>
		</div>
	</div>
</div>
<div class="row bordered">
  <div class="col-md-9 col-md-push-3">
		<div class="alert alert-success">成功</div>
		<div class="alert alert-info">提示</div>
		<div class="alert alert-warning">警告</div>  
		<div class="alert alert-danger">危险</div>
  </div>
  <div class="col-md-3 col-md-pull-9">
		<ul class="nav nav-pills nav-stacked">
		  <li class="active">
		    <a href="#">
		      <span class="badge pull-right">42</span>
		      Home
		    </a> 
		  </li>
		  <li><a href="">标签一</a></li>
		  <li><a href="">标签一</a></li>
		  <li><a href="">标签一</a></li>
		</ul>
  </div>
</div>
