<div class="row">
  <div class="col-md-12">
    <div class="jumbotron text-center">
      <h1>Hello,Rails Tasks!</h1>
      <p>build by ruby on rails</p>
      <p><a class="btn btn-primary btn-lg" role="button">more information</a></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Example page header <small>Subtext for header</small></h1>
    </div>
  </div>
</div>
<div class="row bordered">
  <div class="col-md-9 col-md-push-3">
    <div class="alert alert-success">成功</div>
    <div class="alert alert-info">提示</div>
    <div class="alert alert-warning">警告</div>  
    <div class="alert alert-danger">危险</div>
  </div>
  <div class="col-md-3 col-md-pull-9">
    <ul class="nav nav-pills nav-stacked">
      <li class="active">
        <a href="#">
          <span class="badge pull-right">42</span>
          Home
        </a> 
      </li>
      <li><a href="">标签一</a></li>
      <li><a href="">标签一</a></li>
      <li><a href="">标签一</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="bs-callout bs-callout-danger">
      <h4>定制折叠模式与水平模式的阈值</h4>
      <p>根据你所放在导航条上的内容的长度，也许你需要调整导航条进入折叠模式和水平模式的阈值。通过改变<code>@grid-float-breakpoint</code>变量的值或加入您自己的媒体查询CSS代码均可实现你的需求。</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="bs-callout bs-callout-info">
      <h4>定制折叠模式与水平模式的阈值</h4>
      <p>根据你所放在导航条上的内容的长度，也许你需要调整导航条进入折叠模式和水平模式的阈值。通过改变<code>@grid-float-breakpoint</code>变量的值或加入您自己的媒体查询CSS代码均可实现你的需求。</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="bs-callout bs-callout-warning">
      <h4>定制折叠模式与水平模式的阈值</h4>
      <p>根据你所放在导航条上的内容的长度，也许你需要调整导航条进入折叠模式和水平模式的阈值。通过改变<code>@grid-float-breakpoint</code>变量的值或加入您自己的媒体查询CSS代码均可实现你的需求。</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="bs-callout bs-callout-success">
      <h4>定制折叠模式与水平模式的阈值</h4>
      <p>根据你所放在导航条上的内容的长度，也许你需要调整导航条进入折叠模式和水平模式的阈值。通过改变<code>@grid-float-breakpoint</code>变量的值或加入您自己的媒体查询CSS代码均可实现你的需求。</p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="bs-callout bs-callout-primary">
      <h4>定制折叠模式与水平模式的阈值</h4>
      <p>根据你所放在导航条上的内容的长度，也许你需要调整导航条进入折叠模式和水平模式的阈值。通过改变<code>@grid-float-breakpoint</code>变量的值或加入您自己的媒体查询CSS代码均可实现你的需求。</p>
    </div>
  </div>
</div>