<div class="col md-5">
  <p class="text-muted">在这里可以创建一个项目</p>
  <p class="text-primary">填写项目名称和项目描述</p>
  <p class="text-success">点击保存即可创建</p>
  <p class="text-info">可以为此项目分配用户</p>
  <p class="text-warning">只有相关用户才能在此项目中进行相关操作</p>
  <p class="text-danger">更多内容等待挖掘</p>
</div>