<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <%= image_tag "project.png" %>
    <div class="caption">
      <h3><%= project.name %></h3>
      <p><%= project.description %></p>
      <p><a href="#" class="btn btn-primary" role="button">修改</a> <a href="#" class="btn btn-default" role="button">删除</a></p>
    </div>
  </div>
</div>