<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>添加个项目 <small>添加一个新的项目</small>
        <div class="pull-right">
          <a href="<%= projects_path %>" class="btn btn-primary">
            <span class="glyphicon glyphicon-tasks"></span>
            返回项目列表  
          </a>
        </div>  
      </h1>  
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <%= render 'form'%>
  </div>
  <%= render 'desc' %>  
</div>