<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>
        用户登陆
        <small>登陆站点管理您的信息</small>   
      </h1>
    </div>   
  </div>    

  <div class="col-md-6"><%= render 'form' %></div>         
  <div class="col-md-6">没有账号？<%= link_to '注册一个吧！', signup_path %>`(*∩_∩*)′</div>
</div>

