/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* padding */
.pad10 {
  padding: 10px;
}
.pad10-l {
  padding-left: 10px;
}
.pad10-r {
  padding-right: 10px;
}
.pad10-t {
  padding-top: 10px;
}
.pad10-b {
  padding-bottom: 10px;
}

.pad20 {
  padding: 20px;
}
.pad20-l {
  padding-left: 20px;
}
.pad20-r {
  padding-right: 20px;
}
.pad20-t {
  padding-top: 20px;
}
.pad20-b {
  padding-bottom: 20px;
}

/* margin */
.margin10 {
  margin: 10px;
}
.margin10-l {
  margin-left: 10px;
}
.margin10-r {
  margin-right: 10px;
}
.margin10-t {
  margin-top: 10px;
}
.margin10-b {
  margin-bottom: 10px;
}
.margin10-lr {
  margin-left: 10px;
  margin-right: 10px;
}


.margin20 {
  margin: 20px;
}
.margin20-l {
  margin-left: 20px;
}
.margin20-r {
  margin-right: 20px;
}
.margin20-t {
  margin-top: 20px;
}
.margin20-b {
  margin-bottom: 20px;
}
